USE [master]
GO
/****** Object:  Database [DBREGISTROWEB]    Script Date: 1/02/2023 5:08:17 p. m. ******/
CREATE DATABASE [DBREGISTROWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBREGISTROWEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\DBREGISTROWEB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBREGISTROWEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\DBREGISTROWEB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBREGISTROWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBREGISTROWEB]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 1/02/2023 5:08:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_borrar]    Script Date: 1/02/2023 5:08:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_usuario_borrar]

@IdUsuario int

as 
begin
delete from USUARIO WHERE IdUsuario = @IdUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_editar]    Script Date: 1/02/2023 5:08:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_usuario_editar]
@IdUsuario int,
@Nombre varchar (100),
@FechaNacimiento date,
@Sexo varchar (1)
as
begin
update USUARIO set 
Nombre = @nombre ,
FechaNacimiento = @FechaNacimiento,
Sexo = @Sexo

where IdUsuario = @IdUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_insertar]    Script Date: 1/02/2023 5:08:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_usuario_insertar]

@Nombre varchar (100),
@FechaNacimiento date,
@Sexo varchar (1)
as 
begin
insert into USUARIO  (Nombre,FechaNacimiento,Sexo) values (@Nombre,@FechaNacimiento,@Sexo)

end

GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_listar]    Script Date: 1/02/2023 5:08:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_usuario_listar]
AS
BEGIN
SELECT a.IdUsuario,a.Nombre, a.FechaNacimiento, a.Sexo FROM USUARIO a  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_listar_Id]    Script Date: 1/02/2023 5:08:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_usuario_listar_Id]
@IdUsuario int
AS
BEGIN
SELECT IdUsuario,Nombre, FechaNacimiento, Sexo FROM USUARIO where IdUsuario = @IdUsuario
END
GO
USE [master]
GO
